/*
  Theme Name: PB Web Development
  Theme URI: http://frontend-skills-test.co.uk/
  Author: LKD Productions
  Version: 1.0
  License: GNU General Public License v2 or later
  License URI: http://www.gnu.org/licenses/gpl-2.0.html

  This theme, like WordPress, is licensed under the GPL.
  Use it to make something cool, have fun, and share what you've learned with others.
*/
@import url("./less/clean-blog.scss");
@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:400,700|Roboto:400,700|Source+Sans+Pro:400,700');
.intro-header{background-size: cover;background-repeat: no-repeat;width: 100%;height: 400px;margin-top: 4%;}
.inline-block{display: inline-block;}
.post-preview a {transition: all 0.5s linear;}
.post-preview a:hover, a:focus {color: #e10204;}
.navbar-default .navbar-nav > li > a:hover{transition: all 0.5s linear;}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {color: #e10204;}
.site-heading{font-family: 'Montserrat', sans-serif;color:#fff;}
.post-heading{font-family: 'Montserrat', sans-serif;color:#fff;}
.margin5{margin-top: 5%;}
.menu-header-menu-container{margin-top: 5%;}
.menu-header-menu-container #menu-header-menu li{display: inline-block;}
.menu-header-menu-container #menu-header-menu li a{color: #777;    padding: 10px 15px;line-height: 20px;}
.copyright{color: #b1aeae;font-size: 14px;}
.copyright a{color: #b1aeae;font-weight: 600;}